@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <p class="sync"></p>
        </div>
        <div class="col-6">
            <p class="async"></p>
        </div>

    </div>

</div>

@section Scripts
{
    <script src="./js/JavaScript.js">
    </script>
}